.announcement-list {
  padding: 40px 20px;
}


.announcement-list__container {

  max-width: 1200px;

  margin: 0 auto;

  display: grid;

  grid-template-columns: repeat(
    auto-fit,
    minmax(280px, 1fr)
  );

  gap: 24px;

}
