/* ==========================
   HEADER
========================== */

.navbar {
  width: 100%;
  height: 90px;
  background: #003b73;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo img {
  width: 55px;
  height: 55px;
}

.logo h2 {
  color: white;
  font-size: 26px;
  font-weight: 700;
}

.menu {
  display: flex;
  gap: 35px;
}

.menu a {
  color: white;
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  transition: 0.3s;
}

.menu a:hover {
  color: #ffd700;
}