.contact-page{

    background:#f8fafc;

}


.contact-page__content{

    padding:60px 0;

}



.contact-page__grid{

    display:grid;

    grid-template-columns:
    1fr 1fr;

    gap:35px;

    align-items:start;

}



.contact-page__left{

    display:flex;

    flex-direction:column;

    gap:30px;

}



.contact-page__right{

    position:sticky;

    top:100px;

}



@media(max-width:992px){

.contact-page__grid{

    grid-template-columns:1fr;

}


.contact-page__right{

    position:static;

}

}