.language-switcher{

    width:58px;
    height:42px;

    border:none;

    border-radius:30px;

    cursor:pointer;

    background:#005baa;

    color:#fff;

    font-weight:700;

    transition:.25s;

}

.language-switcher:hover{

    background:#003f7d;

}