/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f4f6f9;
}



.logo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo img {
  width: 55px;
  height: 55px;
}

.logo h2 {
  color: white;
  font-size: 26px;
  font-weight: 700;
}

.menu {
  display: flex;
  gap: 35px;
}

.menu a {
  color: white;
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  transition: 0.3s;
}

.menu a:hover {
  color: #ffd700;
}

/* Hero */
.hero {
  height: calc(100vh - 90px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero-content {
  color: white;
}

.hero-content h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 24px;
  margin-bottom: 35px;
}

.hero-content button {
  padding: 15px 40px;
  border: none;
  border-radius: 6px;
  background: #ffd700;
  color: #003b73;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.hero-content button:hover {
  background: #ffca00;
}

/* ===========================
   FOOTER
=========================== */

.footer {
  background: #0b3d6d;
  color: #fff;
  padding: 40px 20px;
  text-align: center;
}

.footer-content {
  max-width: 1200px;
  margin: auto;
}

.footer h3 {
  font-size: 26px;
  margin-bottom: 15px;
}

.footer p {
  margin: 8px 0;
  font-size: 16px;
  color: #d9d9d9;
}